
/**
 * @file
 * Increases the font-size of the uCount sign-in form for easier reading.
 */

#ucount-signin,
#ucount-signin input {
  font-size: 30px;
}

#ucount-signin {
  line-height: 15px;
}

#ucount-signin input {
  margin-top: 15px;
  margin-bottom: 15px;
}
